html, body {
  height: 100%;
  background: $light-grey;
}

body {
  overflow-x: hidden;
  color: $grey;
}

p, a, span {
  font-family: $brand-face;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "proxima-nova", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: $secondary;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  @extend .block-list__link;
  font-family: "proxima-nova", sans-serif;
  font-weight: bold;
  color: $secondary;
}

.masthead {
  width: 100%;
  height: 650px;
  background: url('../img/header_bg.png') center no-repeat;
  padding: ($base-spacing-unit * 2) 0;
  @include media-query(palm){ 
    background: url('../img/header_bg_palm.png') center no-repeat; }
  //margin-bottom: $base-spacing-unit * 3;
  > hgroup {
    margin-bottom: $base-spacing-unit * 2;
  }
}

.header-box {
  @extend .block-list;
  background-color: blue(0.75);
  font-family: "proxima-nova", sans-serif;
  color: $secondary;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.club {
  margin: $base-spacing-unit*2 $half-spacing-unit;
  padding: $base-spacing-unit 0;
  background: white;
  @include vendor(border-radius, 5px);
}

.content {
  padding: $base-spacing-unit;
  @include media-query(palm){
    padding: $half-spacing-unit;
  }
}

.header-color {
  color: $secondary;
}

.icons > a {
  font-size: 2rem;
}

.alternate {
  background: $light-grey;
}

/*
.button{ 
  @extend .btn--full;
  @include vendor(border-radius, 5px);
  @include vendor(box-shadow, 0 1px 0 rgba(255,255,255,0.15),0 5px 0 lighten($brand-color, 10%));
  @include vendor(transition, all 0.1s linear);
  background: $brand-color;
  border:0;
  font-weight:bold;
  margin-bottom:25px;
  padding:12px 20px;
  text-shadow:0 -1px 0 rgba(0,0,0,0.25);
  text-transform:uppercase;
  &:active {
    @include vendor(box-shadow, 0 1px 0 rgba(255,255,255,0.15),0 2px 0 lighten($brand-color, 10%));
    @include vendor(transform, translateY(3px));
  }
}
*/

.button {
  @extend .btn--full;
  @include vendor(border-radius, 5px);
  background: none;
  border: 3px $brand-color solid;
  color: $brand-color;
  font-weight:bold;
  margin-bottom:25px;
  padding:12px 20px;
  &:hover {
    background: $brand-color;
    color: $secondary;
    text-decoration: none;
    border: 3px #fff solid;
  }
}

.bestof {
  background-color: $brand-color;
  color: $secondary;
  @include vendor(border-radius, 5px);
}

// animations for header
.header { 
  @include vendor(animation, fadeintext 1s);
  width: 100%;
}
   
.header-list{ @include vendor(animation, fadeintext 2s);
}

@include keyframe(fadeintext){
   0%{
       opacity: 0;
       @include vendor(transform, translateY(30px));
   }
   50%{
       opacity: 0;
       @include vendor(transform, translateY(30px));
   }
   100%{
       opacity: 1;
       @include vendor(transform, translateY(0));
   }
}

/* Flexible iFrame */

.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,   
.Flexible-container object,  
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}